[submodule "mods/minetest-skygen"]
	path = mods/minetest-skygen
	url = https://github.com/theraven262/minetest-skygen
[submodule "mods/draconis"]
	path = mods/draconis
	url = https://github.com/The-Architect-Crew/draconis
[submodule "mods/animalia"]
	path = mods/animalia
	url = https://github.com/The-Architect-Crew/animalia
[submodule "mods/the-architect-server"]
	path = mods/the-architect-server
	url = https://github.com/The-Architect-Crew/the-architect-server
[submodule "mods/external/creatura"]
	path = mods/external/creatura
	url = https://github.com/The-Architect-Crew/creatura
